.fa-3x.signUp {
    margin-left: 14px;
}
.fa,
.fas {
    font-weight: 900;
    color: white;
}
.signUpSignInBtn {
    width: 220px;
}
.img-fluid {
    max-width: 49%;
    height: auto;
}
.profileImage{
  margin-left:10px;
  color: white;

}
.dropdown.show .fadeInDropdown {
    opacity: 1;
    margin-left: 96px;
}
