<!--Main Navigation-->
<mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark peach-gradient scrolling-navbar">
    <a routerLink="/products">
        <img class="logoImage"  id="Easy Buy" src="../assets/Easy Buy/logo_transparent.png" alt="Easy Buy"> 
     </a>
<links>
   
    
    <ul class="navbar-nav ml-auto navbarLink">
            <li *ngFor="let tempCat of categories">
                <a class="nav-link" routerLink="/{{tempCat.categoryName}}/{{tempCat.categoryId}}"
                    (click)="productsByCategoryId(tempCat)">{{tempCat.categoryName}}</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto navbarLink">
            <li>
                <form class="form-inline waves-effect waves-light">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search Your Product" aria-label="Search">

                </form>
            </li>
        </ul>
       <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              
                 <app-cart-status></app-cart-status>
             
            </li>
        </ul>
    </links>
</mdb-navbar>